 .u-section-1 {
   background-image: url("/static/CSS/images/chats_back.png");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 100vh;
}

.u-section-1 .u-tabs-1 {
  min-height: 480px;
  height: auto;
  margin-top: 263px;
  margin-bottom: 60px;
}

.u-section-1 .u-tab-item-1 {
  margin-top: 0;
  margin-bottom: 5px;
}

.u-section-1 .u-tab-link-1 {
  font-size: 1.25rem;
  background-image: none;
  font-family: Jost;
  font-weight: 500;
  padding: 10px 25px;
}

.u-section-1 .u-tab-pane-1 {
  background-image: none;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-container-layout-1 {
  padding: 27px 20px;
}

.u-section-1 .u-image-1 {
  width: 367px;
  height: 367px;
  margin: 3px auto 0 0;
}

.u-section-1 .u-text-1 {
  font-family: Jost;
  font-weight: normal;
  margin: -353px 89px 0 384px;
}

.u-section-1 .u-icon-1 {
  width: 29px;
  height: 29px;
  margin: -40px 24px 0 auto;
  padding: 0;
}

.u-section-1 .u-text-2 {
  font-size: 1.5rem;
  margin: 26px 60px 0 430px;
}

.u-section-1 .u-icon-2 {
  width: 29px;
  height: 29px;
  margin: -33px auto 0 384px;
  padding: 0;
}

.u-section-1 .u-text-3 {
  font-size: 1.5rem;
  margin: 12px 60px 0 430px;
}

.u-section-1 .u-icon-3 {
  width: 29px;
  height: 29px;
  margin: -33px auto 0 384px;
  padding: 0;
}

.u-section-1 .u-text-4 {
  font-size: 1.5rem;
  background-image: none;
  margin: 14px 62px 0 428px;
}

.u-section-1 .u-icon-4 {
  width: 29px;
  height: 29px;
  margin: -33px auto 0 384px;
  padding: 0;
}

.u-section-1 .u-text-5 {
  font-size: 1.5rem;
  margin: 13px 60px 0 430px;
}

.u-section-1 .u-icon-5 {
  width: 29px;
  height: 29px;
  margin: -33px auto 0 384px;
  padding: 0;
}

.u-section-1 .u-text-6 {
  font-size: 1.5rem;
  margin: 9px 60px 0 430px;
}

.u-section-1 .u-icon-6 {
  width: 29px;
  height: 29px;
  margin: -33px auto 0 384px;
  padding: 0;
}

.u-section-1 .u-text-7 {
  font-size: 1.5rem;
  margin: 13px 60px 0 430px;
}

.u-section-1 .u-icon-7 {
  width: 29px;
  height: 29px;
  margin: -33px auto 0 384px;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-container-layout-1 {
    padding: 20px 0;
  }

  .u-section-1 .u-image-1 {
    margin-top: 8px;
    margin-left: 28px;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    margin-top: -349px;
    margin-right: 106px;
    margin-left: 409px;
  }

  .u-section-1 .u-icon-1 {
    margin-top: -45px;
    margin-right: 44px;
  }

  .u-section-1 .u-text-2 {
    width: auto;
    margin-top: 27px;
    margin-right: 106px;
    margin-left: 452px;
  }

  .u-section-1 .u-icon-2 {
    margin-top: -34px;
    margin-left: 409px;
  }

  .u-section-1 .u-text-3 {
    width: auto;
    margin-top: 14px;
    margin-right: 106px;
    margin-left: 453px;
  }

  .u-section-1 .u-icon-3 {
    margin-top: -38px;
    margin-left: 409px;
  }

  .u-section-1 .u-text-4 {
    width: auto;
    margin-top: 16px;
    margin-right: 106px;
    margin-left: 452px;
  }

  .u-section-1 .u-icon-4 {
    margin-top: -34px;
    margin-left: 409px;
  }

  .u-section-1 .u-text-5 {
    width: auto;
    margin-top: 14px;
    margin-right: 106px;
    margin-left: 453px;
  }

  .u-section-1 .u-icon-5 {
    margin-top: -34px;
    margin-left: 409px;
  }

  .u-section-1 .u-text-6 {
    width: auto;
    margin-top: 10px;
    margin-right: 106px;
    margin-left: 453px;
  }

  .u-section-1 .u-icon-6 {
    margin-left: 409px;
  }

  .u-section-1 .u-text-7 {
    width: auto;
    margin-top: 9px;
    margin-right: 106px;
    margin-left: 453px;
  }

  .u-section-1 .u-icon-7 {
    margin-top: -34px;
    margin-left: 409px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-container-layout-1 {
    padding-top: 16px;
    padding-bottom: 16px;
  }

  .u-section-1 .u-image-1 {
    margin-top: 12px;
    margin-left: 18px;
  }

  .u-section-1 .u-text-1 {
    margin-top: -350px;
    margin-right: 13px;
    margin-left: 401px;
  }

  .u-section-1 .u-icon-1 {
    margin-top: -81px;
    margin-right: 163px;
  }

  .u-section-1 .u-text-2 {
    margin-top: 69px;
    margin-right: 13px;
    margin-left: 441px;
  }

  .u-section-1 .u-icon-2 {
    margin-right: 290px;
    margin-left: auto;
  }

  .u-section-1 .u-text-3 {
    margin-top: 15px;
    margin-right: 13px;
    margin-left: 441px;
  }

  .u-section-1 .u-icon-3 {
    margin-top: -33px;
    margin-right: 290px;
    margin-left: auto;
  }

  .u-section-1 .u-text-4 {
    margin-top: 15px;
    margin-right: 59px;
    margin-left: 441px;
  }

  .u-section-1 .u-icon-4 {
    margin-right: 290px;
    margin-left: auto;
  }

  .u-section-1 .u-text-5 {
    margin-right: 136px;
    margin-left: 441px;
  }

  .u-section-1 .u-icon-5 {
    margin-top: -33px;
    margin-left: 401px;
  }

  .u-section-1 .u-text-6 {
    margin-top: 13px;
    margin-right: 116px;
    margin-left: 441px;
  }

  .u-section-1 .u-icon-6 {
    margin-right: 290px;
    margin-left: auto;
  }

  .u-section-1 .u-text-7 {
    margin-top: 14px;
    margin-right: 28px;
    margin-left: 441px;
  }

  .u-section-1 .u-icon-7 {
    margin-top: -33px;
    margin-right: 290px;
    margin-left: auto;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-tabs-1 {
    min-height: 637px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-top: 0;
    padding-bottom: 0;
  }

  .u-section-1 .u-image-1 {
    width: 499px;
    height: 200px;
    margin-top: 19px;
    margin-left: 17px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 17px;
    margin-right: 0;
    margin-left: 24px;
  }

  .u-section-1 .u-icon-1 {
    margin-top: 247px;
    margin-right: 44px;
  }

  .u-section-1 .u-text-2 {
    margin-top: -264px;
    margin-right: 178px;
    margin-left: 62px;
  }

  .u-section-1 .u-icon-2 {
    margin-right: 218px;
    margin-left: 24px;
  }

  .u-section-1 .u-text-3 {
    margin-top: 11px;
    margin-right: 237px;
    margin-left: 62px;
  }

  .u-section-1 .u-icon-3 {
    margin-right: 218px;
    margin-left: 24px;
  }

  .u-section-1 .u-text-4 {
    margin-top: 10px;
    margin-right: 0;
    margin-left: 62px;
  }

  .u-section-1 .u-icon-4 {
    margin-right: 218px;
    margin-left: 24px;
  }

  .u-section-1 .u-text-5 {
    margin-top: 13px;
    margin-right: 46px;
    margin-left: 62px;
  }

  .u-section-1 .u-icon-5 {
    margin-left: 24px;
  }

  .u-section-1 .u-text-6 {
    margin-top: 10px;
    margin-right: 26px;
    margin-left: 62px;
  }

  .u-section-1 .u-icon-6 {
    margin-right: 218px;
    margin-left: 24px;
  }

  .u-section-1 .u-text-7 {
    margin-right: 187px;
    margin-left: 62px;
  }

  .u-section-1 .u-icon-7 {
    margin-right: 218px;
    margin-left: 24px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-image-1 {
    width: 146px;
    height: 145px;
    margin-top: 57px;
    margin-left: auto;
  }

  .u-section-1 .u-text-1 {
    margin-top: 16px;
    margin-left: 13px;
    margin-right: 13px;
  }

  .u-section-1 .u-icon-1 {
    margin-top: -209px;
    margin-right: auto;
    margin-left: 298px;
  }

  .u-section-1 .u-text-2 {
    margin-top: 204px;
    margin-right: 0;
    margin-left: 51px;
  }

  .u-section-1 .u-icon-2 {
    margin-right: auto;
    margin-left: 13px;
  }

  .u-section-1 .u-text-3 {
    margin-right: 0;
    margin-left: 51px;
  }

  .u-section-1 .u-icon-3 {
    margin-right: auto;
    margin-left: 13px;
  }

  .u-section-1 .u-text-4 {
    margin-top: 14px;
    margin-left: 51px;
  }

  .u-section-1 .u-icon-4 {
    margin-right: auto;
    margin-left: 13px;
  }

  .u-section-1 .u-text-5 {
    margin-right: 0;
    margin-left: 51px;
  }

  .u-section-1 .u-icon-5 {
    margin-left: 13px;
  }

  .u-section-1 .u-text-6 {
    margin-top: 13px;
    margin-right: 0;
    margin-left: 50px;
  }

  .u-section-1 .u-icon-6 {
    margin-top: -34px;
    margin-right: 137px;
    margin-left: 13px;
  }

  .u-section-1 .u-text-7 {
    margin-right: 0;
    margin-left: 51px;
  }

  .u-section-1 .u-icon-7 {
    margin-right: 137px;
    margin-left: 13px;
  }
}.glass_border{
/* From https://css.glass */
background: rgba(255, 255, 255, 0.04);
border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(8.6px);
-webkit-backdrop-filter: blur(8.6px);
}
.cut-text_desk{ 
text-overflow: ellipsis;
  overflow: hidden; 
  width: 609px; 
  white-space: nowrap;
} 