{% extends "base.html" %}

{% set title = "мои друзья" %}

{% block content %}
<div class="bg">
   <style>
      body {
      background-color: #111111;
      margin: 0;
      overflow-x: hidden;
      }
      .bg {
      position: fixed;
      top: -50%;
      left: -50%;
      right: -50%;
      bottom: -50%;
      width: 200%;
      height: 200vh;
      background: transparent url('http://assets.iceable.com/img/noise-transparent.png') repeat 0 0;
      background-repeat: repeat;
      animation: bg-animation .2s infinite;
      opacity: .9;
      visibility: visible;
            /* Preserve aspet ratio */
        min-width: 100%;
        min-height: 100%;
      }
      @keyframes bg-animation {
      0% { transform: translate(0,0) }
      10% { transform: translate(-5%,-5%) }
      20% { transform: translate(-10%,5%) }
      30% { transform: translate(5%,-10%) }
      40% { transform: translate(-5%,15%) }
      50% { transform: translate(-10%,5%) }
      60% { transform: translate(15%,0) }
      70% { transform: translate(0,10%) }
      80% { transform: translate(-15%,0) }
      90% { transform: translate(10%,5%) }
      100% { transform: translate(5%,0) }
      }
   </style>
</div>
<div class="text-box">
   <style>
      .btn:hover {
      box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
      }
      .btn:active {
      box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
      }
      .btn-white {
      background-color: #fff;
      color: #777;
      }
      .btn::after {
      -ms-transform: scale(0.5, 0.5); /* IE 9 */
      -webkit-transform: scale(0.5, 0.5); /* Safari */
      transform: scale(0.5, 0.5);
      content: "";
      display: inline-block;
      height: 100%;
      width: 100%;
      border-radius: 100px;
      position: absolute;
      top: 0;
      left: 0;
      z-index: -1;
      transition: all 0.4s;
      }
      .btn-white::after {
      background-color: #fff;
      }
      .btn:hover::after {
      transform: scaleX(1.4) scaleY(1.6);
      opacity: 0;
      }
   </style>
</div>
<div class="input-box">
   <style>
      .form__input {
      font-family: 'Jost', serif;
      color: #ffffff;
      font-size: 1.2rem;
      margin: 0 auto;
      padding: 1.5rem 2rem;
      border-radius: 0.2rem;
      background-color: rgba(69, 69, 69, 255);
      border: none;
      width: 90%;
      display: block;
      border-bottom: 0.3rem solid transparent;
      transition: all 0.3s;
      }
   </style>
</div>
<style contenteditable>
   .fun-border {
   margin-top: 25px;
   margin-bottom: 25px;
   padding: 25px;
   background: rgba(72, 72, 72, 0.2);
   border-radius: 16px;
   box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
   backdrop-filter: blur(5px);
   -webkit-backdrop-filter: blur(5px);
   border: 1px solid rgba(249, 247, 145, 0.3);
   }
</style>
<style contenteditable>

    p.big_label{

        color: white;
        font-family: 'Jost', serif;
        font-size: 24px;

    }
    li.big_label{

        color: white;
        font-family: 'Jost', serif;
        font-size: 24px;

    }


    </style>
        <style contenteditable>

    p.reg_label{

        color: white;
        font-family: 'Jost', serif;
        font-size: 16px;

    }
    label.reg_label{

        color: white;
        font-family: 'Jost', serif;
        font-size: 16px;

    }


    </style>

<p class="big_label">мои друзья</p>
<br>

<ul>
   {% for friend in friends %}
       <div class="fun-border">
   <li class="big_label"> {{ friend.first_name }} {{ friend.last_name }}</li>
   <form action="{{ url('messages') }}" method="get">
      <label class="reg_label" for="message_text">открыть чат</label>
      <input style="font-family: Jost,serif" type="hidden" name="to_user" value="{{ friend._id }}">
      <button class="btn-white" type="submit">отправить</button>
   </form>

           <form action="{{ url('send_message') }}" method="post">
               <label class="reg_label" for="message_text">сообщение</label>
               <input style="font-family: Jost,serif" type="hidden" name="to_user" value="{{ friend._id }}">
               <input type="text" name="message_text" value="">
               <button class="btn-white" type="submit">отправить</button>
           </form>
           <br>
       <form action="={{ 'remove_friend' }}" method="post">
           <button class="btn-white" type="button">убрать из друзей</button>
       </form>
              <form action="={{ 'block_friend' }}" method="post">
           <button class="btn-white" type="button">заблокировать</button>
       </form>
       </div>
   <br>
   {% endfor %}
</ul>

{% endblock %}