{% extends "base.html" %}

{% set title = "Messages" %}

{% block content %}

<div class="bg">
   <style>
      body {
      background-color: #111111;
      margin: 0;
      overflow-x: hidden;
      }
      .bg {
      position: fixed;
      top: -50%;
      left: -50%;
      right: -50%;
      bottom: -50%;
      width: 200%;
      height: 200vh;
      background: transparent url('http://assets.iceable.com/img/noise-transparent.png') repeat 0 0;
      background-repeat: repeat;
      animation: bg-animation .2s infinite;
      opacity: .9;
      visibility: visible;
            /* Preserve aspet ratio */
        min-width: 100%;
        min-height: 100%;
      }
      @keyframes bg-animation {
      0% { transform: translate(0,0) }
      10% { transform: translate(-5%,-5%) }
      20% { transform: translate(-10%,5%) }
      30% { transform: translate(5%,-10%) }
      40% { transform: translate(-5%,15%) }
      50% { transform: translate(-10%,5%) }
      60% { transform: translate(15%,0) }
      70% { transform: translate(0,10%) }
      80% { transform: translate(-15%,0) }
      90% { transform: translate(10%,5%) }
      100% { transform: translate(5%,0) }
      }
   </style>
</div>
<div class="text-box">
   <style>
      .btn:hover {
      box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
      }
      .btn:active {
      box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
      }
      .btn-white {
      background-color: #fff;
      color: #777;
      }
      .btn::after {
      -ms-transform: scale(0.5, 0.5); /* IE 9 */
      -webkit-transform: scale(0.5, 0.5); /* Safari */
      transform: scale(0.5, 0.5);
      content: "";
      display: inline-block;
      height: 100%;
      width: 100%;
      border-radius: 100px;
      position: absolute;
      top: 0;
      left: 0;
      z-index: -1;
      transition: all 0.4s;
      }
      .btn-white::after {
      background-color: #fff;
      }
      .btn:hover::after {
      transform: scaleX(1.4) scaleY(1.6);
      opacity: 0;
      }
   </style>
</div>
<div class="input-box">
   <style>
      .form__input {
      font-family: 'Jost', serif;
      color: #ffffff;
      font-size: 1.2rem;
      margin: 0 auto;
      padding: 1.5rem 2rem;
      border-radius: 0.2rem;
      background-color: rgba(69, 69, 69, 255);
      border: none;
      width: 90%;
      display: block;
      border-bottom: 0.3rem solid transparent;
      transition: all 0.3s;
      }
   </style>
</div>
<style contenteditable>
   .fun-border {
   margin-top: 25px;
   margin-bottom: 25px;
   padding: 25px;
   background: rgba(72, 72, 72, 0.2);
   border-radius: 16px;
   box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
   backdrop-filter: blur(5px);
   -webkit-backdrop-filter: blur(5px);
   border: 1px solid rgba(249, 247, 145, 0.3);
   }
</style>
<style contenteditable>


    p.big_label{

        color: white;
        font-family: 'Jost', serif;
        font-size: 24px;

    }
    li.big_label{

        color: white;
        font-family: 'Jost', serif;
        font-size: 24px;

    }


    p.reg_label{

        color: white;
        font-family: 'Jost', serif;
        font-size: 16px;

    }
    label.reg_label{

        color: white;
        font-family: 'Jost', serif;
        font-size: 16px;

    }
        li.reg_label{

        color: white;
        font-family: 'Jost', serif;
        font-size: 16px;

    }
        li.small_label{

            color: lightslategrey;
            font-family: 'Jost', serif;
            font-size: 10px;
        }


    </style>

    {% for item in messages %}

        {% if item.str_from_user == current_user._id or item.str_to_user == current_user._id%}

                <ul>

                    <div class="fun-border">

                        <li class="big_label"> {{ item.author_first }} {{ item.author_last }} ->
                            {{ item.recipient_first }} {{ item.recipient_last }}</li>

                        <br>

                        <li class="reg_label">{{ item.message }}</li>

                        <br>

                        <li class="small_label">{{ item.date_created.strftime('%Y-%m-%d %H:%M:%S') }}</li>

                        {% if item.str_from_user == current_user._id%}
                            <form action="{{ url('send_message') }}" method="post">
                            <input type="hidden" name="reason" value="d">
                            <input type="hidden" name="message_id" value="{{ item._id }}">
                                <button class="btn-white" type="submit">удалить</button>
                            </form>
                            {% endif %}
                    </div>


                </ul>

            {% endif %}

    {% endfor %}


{% endblock %}
